STAND=dev
DEV_HOST=192.168.0.107
GLOBAL_NGINX_HOST=
PUBLIC_BASE_URL=https://oritas.ru
GATEWAY_BIND=192.168.0.107
GATEWAY_PORT=18080
GATEWAY_ALLOWED_CIDR=
TRUSTED_PROXY_CIDR=
DOCKER_AUTH_CIDR=172.31.71.0/24
COOKIE_SECURE=true
MAIL_FROM=repricer@oritas.ru
POSTGRES_PASSWORD=
API_DB_PASSWORD=
WORKER_DB_PASSWORD=
MIGRATION_DB_PASSWORD=
KEYCLOAK_DB_PASSWORD=
KC_BOOTSTRAP_ADMIN_USERNAME=repricer-bootstrap
KC_BOOTSTRAP_ADMIN_PASSWORD=
KEYCLOAK_TEST_PASSWORD=
KEYCLOAK_APP_ADMIN_PASSWORD=
OIDC_CLIENT_SECRET=
OAUTH2_COOKIE_SECRET=
REDIS_PASSWORD=
S3_ACCESS_KEY=
S3_SECRET_KEY=
